.product-recommend,
.analyzerResults {
    margin: 50px 0 20px 0;
}

.product-recommend p {
    margin-bottom: 20px;
}

.u-mb-small {
    margin-bottom: 20px;
}

.img-user {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.img-user img {
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    min-height: 240px;
    max-height: 280px;
}

.product-form-control>* {
    display: inline-block;
    vertical-align: middle;
}

.analyzerResults {
    margin-bottom: 50px;
}

.analyzerResults>* {
    display: inline-block;
    vertical-align: top;
}

.analyzerResults h2 {
    display: block;
    margin-bottom: 40px;
}

.analyzer-img-container img {
    min-height: 240px;
    max-height: 280px;
}

.image-description p {
    text-transform: capitalize;
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px;
    font-weight: bold;
}

.image-description p::before {
    content: "";
    position: absolute;
    background: url("https://www.dove.com/etc/ui/dove/clientlibs/core/core/svgs/stack/svg/sprite.stack.svg#tick-gold");
    background-size: contain;
    width: 20px;
    height: 15px;
    background-position: left center;
    left: -8px;
    top: 5px;
}

.upload-again {
    margin-top: 20px;
}

.image-description {
    padding: 10px 20px;
    text-align: left;
}

.productContainer,
.articleContainer {
    max-width: 334px;
    margin: 40px auto;
    overflow: auto;
}

@media (min-width: 992px) {

    .articleContainer {
        max-width: 768px;
    }
    .productContainer {
        max-width: 1024px;
    }
}

.prod-item,
.article-item {
    float: left;
    width: 100%;
    vertical-align: top;
    margin-bottom: 35px;
}

@media (min-width: 992px) {

    .article-item {
        width: 33.3%;
        margin-bottom: 10px;
    }
    .prod-item {
        width: 25%;
    }
}

.prod-item img {
    max-width: 150px;
    transition: 0.2s all ease;
}

.prod-item:hover img {
    transform: scale(1.05);
}

.prod-item p {
    margin-top: 10px;
    color: #002663;
    font-size: 14px;
    min-height: 52px;
}

.prod-item a {
    display: block;
    text-decoration: none;
}

.article-item img {
    border-radius: 100%;
    max-width: 120px;
}

.article-item a {
    text-decoration: none;
}

.article-text-container {
    padding: 15px 20px;
    margin: 0 20px;
    background-color: #eeeeee54;
    box-shadow: 3px 5px 5px #eee;
    overflow: auto;
}

.article-text-container h4 {
    margin: 10px 0;
    color: #002663;
}

.article-text-container p {
    color: #666;
    font-size: 15px;
    line-height: 1.2;
    height: 39px;
    overflow: hidden;
}

.click-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.scanning::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #999;
    opacity: 0.7;
    position: absolute;
    box-shadow: 0px 0px 8px 10px #fff;
    top: 0;
    left: 50%;
    animation-name: scanning;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scanning {
    0% {
        box-shadow: 0px 0px 8px 10px #fff;
        left: 50%;
    }

    25% {
        box-shadow: 0px 0px 8px 10px #fff;
        left: 5px;
    }

    75% {
        box-shadow: 0px 0px 8px 10px #fff;
        left: 98%;
    }
}

.scanning::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: red;
    opacity: 0.7;
    position: absolute;
    box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    left:50%;
    animation-name: scanning;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}

@keyframes scanning {
    0% {
        box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
        left: 50%;
      } 
      25% {
        box-shadow: 0px 6px 8px 10px rgba(170, 11, 23, 0.49);
        left: 5px;
      }
      75% {
        box-shadow: 0px -6px 8px 10px rgba(170, 11, 23, 0.49);
        left: 98%;
      }
    
}

.ai-cta {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: 2px solid #dfdfdf;
    border-radius: 4.5px;
    text-align: center;
    transition: opacity .3s ease-out,.5s bottom ease-in;
    box-shadow: 1px 1.5px 7.5px 0 rgba(0,0,0,.2);
    margin: 10px;
    padding: 20px;
    width: 356px;
    font-size: 1rem;
    line-height: 1.19;
    letter-spacing: 0.01875rem;
    font-weight: 300;
    color: #002663;
    background: #fff;
    z-index: 3;
    cursor: pointer;
}
.ai-cta:hover::after {
    transform: rotate(360deg);
}
.ai-cta::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("../product-recommend/icon.jpg");
    background-size: contain;
    position: absolute;
    left: 17px;
    top: 15px;
    transition: 0.3s ease-in all;
}

.modal {
    z-index: 11;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 40px 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buyBtn{
    margin-top: 10px;
    display: inline-block !important;
}

.checkbox-wrapper input{
    position: relative;
    margin: auto;
    display: inline-block;
}

.email{
    font-size: 1rem;
    height: 50px;
    line-height: 1.125rem!important;
    letter-spacing: 0.0125rem;
    padding: 0 15px;
    color: #666;
    font-weight: 400;
    border-radius: 17px;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
}

.checkbox-wrapper input::before{
    content: "";
    position: absolute;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    left: -13px;
    top: -5px;
    height: 25px;
    width: 25px;
    background: #fafafa;
    box-shadow: inset 0 0.5px 3px 0 #aaa;
    vertical-align: middle;
}

.checkbox-wrapper{
    padding-left: 50px;
}

.checkbox-wrapper label{
    text-align: left;
    padding-left: 15px;
    margin: 20px 0;
}

.checkbox-wrapper input:checked ::after{
    content: "";
    position: absolute;
    border: solid #366aa5;
    border-width: 0 0 2px 2px;
    height: 7px;
    width: 12px;
    cursor: pointer;
    left: 7px;
    top: 11px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.subscribe{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.recommended{		
    font-size: 12px !important;		
    color: #343f44 !important;		
    line-height: 12px !important;		
    min-height: 12px !important;		
    position: relative;		
    display: inline-block;		
}		
.img-thumb {		
    height: 20px;		
    width: 20px;		
    margin-right: 5px;		
    top: -2px;		
    position: relative;		
    min-height: unset !important;		
}		
/* rating css below */		
.stars-container {		
    position: relative;		
    display: inline-block;		
    color: transparent;		
    margin-bottom: 10px;		
    width: 75px;		
  }		
  		
  .stars-container:before {		
    position: absolute;		
    top: 0;		
    left: 0;		
    content: '★★★★★';		
    color: lightgray;		
    font-size: 18px;		
  }		
  		
  .stars-container:after {		
    position: absolute;		
    top: 0;		
    left: 0;		
    content: '★★★★★';		
    color: gold;		
    overflow: hidden;		
    font-size: 18px;		
  }		
  		
  /* .stars-0:after { width: 0%; }		
  .stars-10:after { width: 10%; }		
  .stars-20:after { width: 20%; }		
  .stars-30:after { width: 30%; }		
  .stars-40:after { width: 40%; }		
  .stars-50:after { width: 50%; }		
  .stars-60:after { width: 60%; } */		
  .stars-3p5:after { width: 70%; }		
  .stars-4:after { width: 80%; }		
  .stars-4p5:after { width: 90%; }		
  .stars-5:after { width: 100; }		
.checkbox-wrapper{		
    padding-left: 50px;		
}		
.checkbox-wrapper label{		
    text-align: left;		
    padding-left: 15px;		
    margin: 20px 0;		
}		
.checkbox-wrapper input:checked ::after{		
    content: "";		
    position: absolute;		
    border: solid #366aa5;		
    border-width: 0 0 2px 2px;		
    height: 7px;		
    width: 12px;		
    cursor: pointer;		
    left: 7px;		
    top: 11px;		
    -webkit-transform: rotate(-45deg);		
    transform: rotate(-45deg);		
}		
.subscribe{		
    display: block;		
    margin: auto;		
    margin-bottom: 50px;		
}
.checkbox-wrapper .c-form-checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
}
span.c-form-checkbox__label-copy {
    display: inline-block;
    padding-left: 38px;
    position: relative;
}
span.c-form-checkbox__label-copy:before {
    content: '';
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: #fafafa;
    box-shadow: inset 0 0.5px 3px 0 #aaa;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
}
span.c-form-checkbox__label-copy:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
    border: solid #366aa5;
    border-width: 0 0 2px 2px;
    height: 7px;
    width: 12px;
    position: absolute;
    cursor: pointer;
    left: 7px;
    top: 7px;
    opacity: 0;
}
.checkbox-wrapper input[type=checkbox]:checked+span.c-form-checkbox__label-copy:after {
    opacity: 1;
}
.checkbox-wrapper {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
